* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: fit-content;
    background-color: white;
}

.first-header h1 {
    width: 40%;
    font-size: 45px;
    margin: 0 50px;
    margin-top: 4rem;
    margin-bottom: 0;
}

.text-1 {
    width: 40%;
    float: right;
    margin: 0 50px;
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.group {
    width: 100%;
    height: 10vh;
}

.group img {
    width: 100%;
}

.text-2 {
    width: 40%;
    float: left;
    margin: 0 50px;
    margin-top: 2rem;
    margin-bottom: 5rem;

}

.second-header>h1 {
    width: 40%;
    font-size: 45px;
    margin: 0 50px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    float: right;
}

.up {
    color: #004475;
}

.down {
    color: #fc8745;
}



.line {
    width: 90%;
    height: 1px;
    background: black;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    border: none;
    margin-top: 8rem;

}

.line-2 {
    width: 90%;
    height: 1px;
    background: black;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    border: none;

}

.minds>h2 {
    width: 30%;
    margin-bottom: 4rem;
    font-size: 30px;
    margin: 0 195px;
    margin-top: 4rem;
    color: #004475;
}

.pictures {
    width: 80%;
    align-items: center;
    margin-bottom: 8rem;
    margin: 0 135px;
    margin-top: 2rem;
}

.pictures img {
    width: fit-content;
}

.pictures span {
    margin: 0 57px;
}

.team h1 {
    text-align: center;
    margin-top: 2rem;
}

.the-team {
    color: #004475;
}

.team p {
    text-align: center;
    margin-top: 2rem;
}

.team h1 {
    text-align: center;
    margin-top: 2rem;
}

.team .link {
    text-align: center;
    margin-top: .5rem;
}

.link a {
    text-decoration: none;
}

.white {
    background-color: white;
    height: 15vh;
    width: 100%;
    display: flex;
}

.text {
    margin-left: 2rem;
    margin-top: 3rem;
    position: relative;
    color: white;
}

.space {
    background-color: #004475;
    height: 50vh;
    width: 100%;
    display: flex;
    margin-top: auto;
    position: absolute;
}

.margin {
    background-color: #004475;
    height: 5vh;
    width: 68%;
    display: flex;
}

.text p {
    margin-top: 1rem;
}

.contact-btn {
    margin-top: 2rem;
    display: block;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: #fc8745;
    padding: .8rem 2.5rem;
    border-radius: 20px;
}

.contact-btn:hover {
    -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px solid #fc8745 !important;
  background-color: #004475;
  color: white;
  padding-top: calc(.9rem - 1.5px);
  padding-bottom: calc(.9rem - 1.5px);
}

.contact-btn a {
    color: white;
    text-decoration: none;
}

.orange {
    background-color: #fc8745;
    height: 42.8vh;
    width: 30%;
    display: flex;
    margin-bottom: 6rem;
    position: absolute;
    margin-left: 59rem;
    margin-top: 3rem;
    border-radius: 30px 0px 0px 0px;
    max-width: -webkit-fill-available;
}

.orange-section img {
    margin-left: 59em;
    height: 37vh;
    margin-top: 3rem;
    width: 24%;
    position: absolute;
    margin-bottom: 6em;
    border-radius: 30px 0px 30px 0px;
    max-width: -webkit-fill-available;
}

.sky-blue {
    background-color: rgb(174, 221, 240);
    margin-top: 2rem;
    height: 50vh;
    width: 100%;
}

.last {
    align-items: center;
    justify-content: center;
    display: flex;
}

.single {
    margin-right: 20rem;
}

.last>.inc {
    margin-right: 20rem;
}

.try img {
    width: 35px;
}

.try a {
    width: 30px;
}

.skyblue {
    background-color: rgb(174, 221, 240);
    height: 10vh;
    width: 100%;
    display: flex;
}

.newline {
    width: 73.5%;
    height: 1px;
    background: black;
    display: flex;
    justify-content: center;
    margin-left: 11rem;
    border: none;
}

.newline-2 {
    width: 100%;
    height: 3.5vh;
    background: rgb(174, 221, 240);
    display: flex;
}

.all-link {
    margin-top: 2rem;
    margin-left: -5rem;
    margin-right: 17rem;
}

.all-link a {
    color: black;
}

.link-1 {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 1rem;
}

.link-2 {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 1rem;
}

.link-3 {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 1rem;
}

/* @media (min-width: 1024px) {
    .space {
        background-color: #004475;
        height: 50vh;
        width: 100%;
        display: flex;
        margin-top: auto;
        position: absolute;
    }
    
    .margin {
        background-color: #004475;
        height: 5vh;
        width: 68%;
        display: flex;
    }
    
    .text p {
        margin-top: 1rem;
    }
    
    .contact-btn {
        margin-top: 2rem;
        display: block;
        width: fit-content;
        height: fit-content;
        border: none;
        background-color: #fc8745;
        padding: .8rem 2.5rem;
        border-radius: 20px;
    }
    
    .contact-btn:hover {
        -webkit-transition: all .3s ease;
      transition: all .3s ease;
      border: 2px solid #fc8745 !important;
      background-color: #004475;
      color: white;
      padding-top: calc(.9rem - 1.5px);
      padding-bottom: calc(.9rem - 1.5px);
    }
    
    .contact-btn a {
        color: white;
        text-decoration: none;
    }
    
    .orange {
        background-color: #fc8745;
        height: 40vh;
        width: 30%;
        display: flex;
        margin-bottom: 6rem;
        position: absolute;
        margin-left: 44.9em;
        margin-top: 3rem;
        border-radius: 30px 0px 0px 0px;
    }
    
    .orange-section img {
        margin-left: 44.9em;
        height: 35vh;
        margin-top: 3rem;
        width: 26%;
        position: absolute;
        margin-bottom: 6em;
        border-radius: 30px 0px 30px 0px;
    }
} */
